// aside ////////////////////////////////////////
.aside {
  width: $w_l;
  background-color: $aside_bg;
  &__nav {
    list-style: none;
    &-item {
      font-size: $f_l;
      color: $main_font;
      line-height: $f_xl;
      text-align: center;
      margin: $space_s 0;
      cursor: pointer;
      &_current {
        @extend .aside__nav-item;
        color: $sub_font;
      }
    }
  }
}