// header ///////////////////////////////////////
.header{
  @include base;
  @include spaceAround;

  background-color: $header_bg;
  height: $h_l;

  position: fixed;
  top: 0;

  &__title {
    font-size: $f_xxl;
    color: $main_font;
    margin-bottom: $space_m;
  }

  &__txt {
    font-size: $f_m;
    color: $main_font;
  }

  &__right{
    @include columnCenter;
  }

  &__nav {
    list-style: none;
    display: flex;
    &-item {
      color: $main_font;
      margin-left: $space_m;
      padding-bottom: $space_s;
      cursor: pointer;
      &_current {
        @extend .header__nav-item;
        border-bottom: 2px solid $main_font;
      }
    }
  }
  &__toggle{
    margin: $space_m 0 0;
    width: $space_xl;
  }
}
.switch{
  &__base{
    width: $space_xl;
    height: $space_m;
    border-radius: $space_m;
    background-color: $main_bg;
    position: relative;
  }
  &__btn{
    width: $space_m;
    height: $space_m;
    border-radius: $space_m;
    background-color: $color_2;
    position: absolute;
    &-off{
      @extend .switch__btn;
      right: 0;
    }
  }
}

.light {
  background-color: $footer_bg;
}