// variable /////////////////////////////////////
// color
$header_bg: #3e078a;
$footer_bg: #d5d5d5;
$main_bg: #fff;
$aside_bg: #000;

$main_font: #fff;
$sub_font: #8229ff;

$color_1:#3e078a;
$color_2:#068f82;
$color_3:#02574f;

// font-size
$f_xxl: 48px;
$f_xl: 36px;
$f_l: 24px;
$f_m: 16px;
$f_s: 12px;
$f_xs: 4px;

// height
$h_l: 200px;
$h_m: 100px;
$h_s: 50px;

// width
$w_l: 200px;
$w_m: 100px;
$w_s: 50px;

// space
$space_xxl: $f_xxl;
$space_xl: $f_xl;
$space_l: $f_l;
$space_m: $f_m;
$space_s: $f_s;
$space_xs: $f_xs;

// mixin ////////////////////////////////////////
@mixin base {
  width: 100%;
  margin: 0 auto;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin columnCenter {
  display: flex;
  flex-direction: column;
}
// reset ////////////////////////////////////////
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{position: relative;}

.hidden {display: none;}

// header ///////////////////////////////////////
@import "Header";

// footer ///////////////////////////////////////
@import "Footer";

// aside ////////////////////////////////////////
@import "Aside";

// main /////////////////////////////////////////
@import "Main";

// tools ////////////////////////////////////////
@import "Tools";

// labo /////////////////////////////////////////
@import "Labo";

// etc //////////////////////////////////////////
@import "Etc";