// variable /////////////////////////////////////
// color
$main_bg: #053a31;
$sub_bg: #d5d5d5;
$demo_bg1: #ff7c7c;
$demo_bg2: #d9f456;

$main_font: #fff;

// font-size
$f_xl: 36px;
$f_m: 16px;
$f_s: 12px;

// height
$h_l: 200px;
$h_m: 100px;
$h_s: 50px;

// mixin ////////////////////////////////////////
@mixin base {
  width: 100%;
  margin: 0 auto;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
// reset ////////////////////////////////////////
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// header ///////////////////////////////////////
.header{
  @include base;
  @include spaceAround;

  background-color: $main_bg;
  height: $h_l;

  &__title {
    font-size: $f_xl;
    color: $main_font;
  }

  &__txt {
    font-size: $f_m;
    color: $main_font;
  }
}

// footer ///////////////////////////////////////
.footer{
  @include base;
  @include spaceAround;

  background-color: $sub_bg;
  height: $h_m;

  &__copyright{
    font-size: $f_s;
  }
}

// main /////////////////////////////////////////
.container{
  @include spaceAround;
}

.main {
  @include centering;
  background-color: $demo_bg1;
}

// aside ////////////////////////////////////////
.aside {
  background-color: $demo_bg2;
}