// variable /////////////////////////////////////
// color
$header_bg: #3e078a;
$footer_bg: #d5d5d5;
$main_bg: #fff;
$aside_bg: #000;

$main_font: #fff;
$sub_font: #8229ff;

$color_1:#3e078a;
$color_2:#068f82;
$color_3:#02574f;

// font-size
$f_xxl: 48px;
$f_xl: 36px;
$f_l: 24px;
$f_m: 16px;
$f_s: 12px;
$f_xs: 4px;

// height
$h_l: 200px;
$h_m: 100px;
$h_s: 50px;

// width
$w_l: 200px;
$w_m: 100px;
$w_s: 50px;

// space
$space_xxl: $f_xxl;
$space_xl: $f_xl;
$space_l: $f_l;
$space_m: $f_m;
$space_s: $f_s;
$space_xs: $f_xs;

// mixin ////////////////////////////////////////
@mixin base {
  width: 100%;
  margin: 0 auto;
}

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}
// reset ////////////////////////////////////////
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

// header ///////////////////////////////////////
.header{
  @include base;
  @include spaceAround;

  background-color: $header_bg;
  height: $h_l;

  position: fixed;
  top: 0;

  &__title {
    font-size: $f_xxl;
    color: $main_font;
    margin-bottom: $space_m;
  }

  &__txt {
    font-size: $f_m;
    color: $main_font;
  }

  &__nav {
    list-style: none;
    display: flex;
    &-item {
      color: $main_font;
      margin-left: $space_m;
      padding-bottom: $space_s;
      cursor: pointer;
      &_current {
        @extend .header__nav-item;
        border-bottom: 2px solid $main_font;
      }
    }
  }

  &__toggle{
    margin-top: $space_m;
    text-align: center;
  }
}

// footer ///////////////////////////////////////
.footer{
  @include base;
  @include spaceAround;

  background-color: $footer_bg;
  height: $h_m;

  &__copyright{
    font-size: $f_s;
  }
}

// aside ////////////////////////////////////////
.aside {
  width: $w_l;
  background-color: $aside_bg;
  &__nav {
    list-style: none;
    &-item {
      font-size: $f_l;
      color: $main_font;
      line-height: $f_xl;
      text-align: center;
      margin: $space_s 0;
      cursor: pointer;
      &_current {
        @extend .aside__nav-item;
        color: $sub_font;
      }
    }
  }
}

// main /////////////////////////////////////////
.container{
  @include base;
  @include spaceBetween;
  margin-top: $h_l;
}
// main
.main {
  width: calc(100% - 200px);
  height: 100vh;
  overflow: scroll;
  background-color: $main_bg;
  padding: $space_l $space_xl;
}
// home
.home {
  &__title {
    font-size: $f_xl;
    margin-bottom: $space_m;
  }
  &__txt {
    font-size: $f_m;
  }
  &__index {
    margin-top: $space_m;
    list-style: none;
  }
}
.profile {
  &__title {
    font-size: $f_l;
    margin: $space_l 0 $space_m;
  }
  &__txt {
    font-size: $f_m;
  }
}

// Articles
@import "Articles";

// contents /////////////////////////////////////
