html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3e078a;
  height: 200px;
  position: fixed;
  top: 0;
}

.header__title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 16px;
}

.header__txt {
  font-size: 16px;
  color: #fff;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item, .header__nav-item_current {
  color: #fff;
  margin-left: 16px;
  padding-bottom: 12px;
  cursor: pointer;
}

.header__nav-item_current {
  border-bottom: 2px solid #fff;
}

.header__toggle {
  margin: 16px 0 0;
  width: 36px;
}

.switch__base {
  width: 36px;
  height: 16px;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
}

.switch__btn, .switch__btn-off {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #068f82;
  position: absolute;
}

.switch__btn-off {
  right: 0;
}

.light {
  background-color: #d5d5d5;
}

.footer {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d5d5d5;
  height: 100px;
}

.footer__copyright {
  font-size: 12px;
}

.aside {
  width: 200px;
  background-color: #000;
}

.aside__nav {
  list-style: none;
}

.aside__nav-item, .aside__nav-item_current {
  font-size: 24px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  margin: 12px 0;
  cursor: pointer;
}

.aside__nav-item_current {
  color: #8229ff;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}

.main {
  width: calc(100% - 200px);
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
  padding: 24px 36px;
}

.home__title {
  font-size: 36px;
  margin-bottom: 16px;
}

.home__txt {
  font-size: 16px;
}

.home__index {
  margin-top: 16px;
  list-style: none;
}

.profile__title {
  font-size: 24px;
  margin: 24px 0 16px;
}

.profile__txt {
  font-size: 16px;
}

.articles__title {
  font-size: 36px;
  margin-bottom: 16px;
}

.articles__txt {
  font-size: 16px;
  margin-bottom: 36px;
}

.articles__index {
  list-style: none;
}

.articles__index-item {
  margin-bottom: 36px;
}

.articles__index-title {
  font-size: 24px;
  margin-bottom: 4px;
}

.articles__index-tags {
  font-size: 12px;
  margin-bottom: 4px;
}

.articles__index-tag {
  background-color: #3e078a;
  color: #fff;
  margin-right: 12px;
  padding: 4px;
  border-radius: 4px;
}

.articles__index-txt {
  margin-bottom: 4px;
}

.articles__index-data {
  font-size: 12px;
  margin-bottom: 4px;
}

.articles__index-btn {
  background-color: #068f82;
  color: #fff;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.articles__index-btn:hover {
  background-color: #02574f;
}

.tools__title {
  font-size: 36px;
  margin-bottom: 16px;
}

.tools__txt {
  font-size: 16px;
}

.labo__title {
  font-size: 36px;
  margin-bottom: 16px;
}

.labo__txt {
  font-size: 16px;
  margin-bottom: 36px;
}

.labo__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.labo__content {
  width: 200px;
  margin: 16px;
}

.labo__sub-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.labo .box_wrapper {
  width: 200px;
  height: 200px;
  background-color: #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labo .box_wrapper .box1 {
  width: 100px;
  height: 100px;
  background-color: #3e078a;
  -webkit-transition: all 1s 0s ease;
  transition: all 1s 0s ease;
}

.labo .box_wrapper .box1:hover {
  background-color: #068f82;
}

.labo .box_wrapper .box2 {
  width: 100px;
  height: 100px;
  background-color: #3e078a;
  -webkit-animation: rotation 4s linear 0s infinite normal none running;
          animation: rotation 4s linear 0s infinite normal none running;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.etc__title {
  font-size: 36px;
  margin-bottom: 16px;
}

.etc__txt {
  font-size: 16px;
}

.contact {
  margin-top: 24px;
}

.contact__title {
  margin-bottom: 16px;
}

.contact__title-form {
  width: 200px;
  margin-left: 16px;
}

.contact__text-form {
  width: 200px;
  height: 100px;
  margin-left: 16px;
}
/*# sourceMappingURL=style.css.map */