html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {text-align: center}

header,
footer{
  background-color: #fcbcc9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  margin: 40px;
}