html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {text-align: center}

header,
footer{
  background-color: #fcbcc9;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  margin: 40px;
}

.g-results{
  margin: 20px 0 ;
}
.g-result {
  width: 80%;
  margin: 0 auto 40px;
  text-align-last: left;
}
.g-result p{
  line-height: 24px;
}

.content input {
  margin: 10px;
  padding: 0 10px;
  height: 24px;
}